/* Navbar.css */

.navbar {
    background-color: #fff;
    padding: 10px;
  }
  
  .navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
  }
  
  .navbar-item {
    margin-right: 10px;
  }
  
  .navbar-link {
    color: #000;
    text-decoration: none;
  }
  
  .navbar-link:hover {
    text-decoration: underline;
  }
  